@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Varela+Round&display=swap');

.divs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    font-family: 'Bebas Neue', cursive;
}


.productos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    font-family: 'Bebas Neue', cursive;
}

.precios {
    font-size: 17px;
    margin: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
}
